<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.uniform.em.common.vo.EmCommonVO" alias="emcommon"/>
		<typeAlias type="com.uniform.common.info.vo.CommonInfoVO" alias="commoninfo"/>
		<typeAlias type="com.uniform.mm.setting.vo.MmSettingVO" alias="mmsetting"/>
		<typeAlias type="com.uniform.mm.message.vo.MmMessageVO" alias="mmmessage"/>
		<typeAlias type="com.uniform.si.info.vo.SiInfoVO" alias="siinfo"/>
		
		<!-- 전자결재 1 -->
		<typeAlias type="com.uniform.ea.approval.vo.EaApprovalVO" alias="eaapproval" />
		<typeAlias type="com.uniform.ea.approval.vo.EaDocumentVO" alias="eadocument" />
		<typeAlias type="com.uniform.ea.approval.vo.EaGianVO" alias="eagian" />
		<typeAlias type="com.uniform.ea.approval.vo.EaLineVO" alias="ealine" />
		<typeAlias type="com.uniform.ea.approval.vo.EaPoomVO" alias="eapoom" />
		<typeAlias type="com.uniform.ea.approval.vo.EaVacationVO" alias="eavacation" />
		
		<!-- 전자결재 2 -->
		<typeAlias type="com.uniform.ea.approval.vo.EaStateVO" alias="eastate" />
		<typeAlias type="com.uniform.ea.approval.vo.EaUploadboardVO" alias="eauploadboard" />
		
		<!-- 페이징 -->
		<typeAlias type="com.uniform.ea.approval.vo.PageVO" alias="page" />
		<typeAlias type="com.uniform.ea.approval.vo.UploadPageVO" alias="uploadpage" />	
		
		<!-- 플랜,게시판,댓글,공지 -->
		<typeAlias type="com.uniform.pm.plan.vo.PmPlanVO" alias="plan"/>
		<typeAlias type="com.uniform.bm.board.vo.BmBoardVO" alias="bmboard"/>
		<typeAlias type="com.uniform.bm.reply.vo.BmReplyVO" alias="bmreply"/>
		<typeAlias type="com.uniform.nm.notice.vo.NmNoticeVO" alias="nmnotice"/>
		
		<!-- 코드 -->
		<typeAlias type="com.uniform.common.info.vo.CommonCodeVO" alias="commoncode" />		
	</typeAliases>
</configuration>